/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #0d1117;
  color: #eee;
}

html {
  font-size: 100%;
}

header {
  padding: 0.5rem 0.75rem;
  background-color: #161b22;

  h1 {
    color: #00b686;
  }
}

.table {
  background-color: #161b22;
  border: 1px solid #111;
  border-radius: 6px;
  th,
  td {
    color: #ddd !important;
  }
}

a {
  color: #ddd;

  &:hover {
    color: #00b686;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}
